extends ./layout.pug

block body
  div.welcome
    div.text
      != PrismicDOM.RichText.asHtml(document.data.title, ctx.linkResolver)
      != PrismicDOM.RichText.asHtml(document.data.description, ctx.linkResolver)
    //- != PrismicDOM.RichText.asHtml(document.data.button, ctx.linkResolver)
    img(src=document.data.image.url, class='img')
    img(src=document.data.details.url, class='img')
